@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

$sector-10: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.3 39.16'%3E%3Cdefs%3E%3Cstyle>.a,.b{fill:#4eb96f;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M10.7,28.2a26.87,26.87,0,0,0,14,4,29.37,29.37,0,0,0,5.1-.5V0L6.3,24.4A16.33,16.33,0,0,0,10.7,28.2Z'/%3E%3Cpath class='b' d='M7.1,34.2a33.42,33.42,0,0,0,24.2,4.3L30,31.6a32.87,32.87,0,0,1-5.4.5,27.13,27.13,0,0,1-14-4,14.81,14.81,0,0,1-4.2-3.6L0,27.7A23.51,23.51,0,0,0,7.1,34.2Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-20: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 76 52.9'%3E%3Cdefs%3E%3Cstyle>.a,.b{fill:#945ba4;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M68.6,22c-1.8,0-3.9.2-6,.4a70.82,70.82,0,0,1-8.2.5,30.22,30.22,0,0,1-11.2-2C34.2,17.2,28.7,10,24.6,4.2L0,21.4c5.5,7.7,15.1,20.3,31.8,27.2a59.83,59.83,0,0,0,22.6,4.3,111.76,111.76,0,0,0,11.3-.7c1.1-.1,2.7-.3,3.2-.3a55.29,55.29,0,0,0,7.1-.4L73.3,21.6A24.87,24.87,0,0,1,68.6,22Z'/%3E%3Cpath class='b' d='M68.6,15c-7.2.1-15.4,2.5-22.6-.5S34.3,5.7,30.2,0L24.3,3.8c4.1,5.9,9.8,13.4,19,17.2a28,28,0,0,0,11.2,2c2.8,0,5.5-.3,8.2-.5,2.2-.2,4.2-.4,6-.4a44.05,44.05,0,0,0,5.2-.3l-3.4-6.7A6.23,6.23,0,0,0,68.6,15Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-30: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160.05 90.29'%3E%3Cdefs%3E%3Cstyle>.a,.b{fill:#c4549a;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M159.86,58.29c-1-10.85-5.75-20.7-11.81-28.78h0c-8.5-11.2-19.5-19.3-26.2-22.6A69.1,69.1,0,0,0,91.16,0a86.39,86.39,0,0,0-27.5,4.7l0,0A106.83,106.83,0,0,0,38.19,17.3c-6.3,4.3-12.4,9.3-18.3,14.2-1.5,1.2-3.2,2.7-5.1,4.2l.08.12C10.08,39.72,4.39,44.21,0,46.7l.4-.1V78.3C11,76.4,21.7,68.9,31.6,60.9l-.08-.12c2.69-2,5.28-4.08,7.67-6.18C44.69,50,50,45.6,55,42.2A75.2,75.2,0,0,1,77.19,32v0a54.57,54.57,0,0,1,14.09-2,39.52,39.52,0,0,1,17.6,3.9,50.15,50.15,0,0,1,11.9,9.6h0c4.56,5,8.7,11.23,9.2,17.49a13.73,13.73,0,0,1-1.7,8.3c1.5,4.8,1.3,10.7-.7,17.9l30.1,3.1a62.14,62.14,0,0,0,1.4-18.9A41.35,41.35,0,0,0,159.86,58.29Z'/%3E%3Cpath class='b' d='M129.92,61.15c-.5-6.1-4.5-12.3-9-17.2h0c-4.49-4.88-9.47-8.66-12.16-10a39.52,39.52,0,0,0-17.6-3.9,55.24,55.24,0,0,0-14.2,2l0,0A76.42,76.42,0,0,0,54.86,42.3a188.08,188.08,0,0,0-15.8,12.4c-2.59,2.19-5.28,4.38-8,6.57L31,61.1c-9.7,7.8-20.1,15-30.5,17L1.76,85c11.89-2.1,23.18-9.88,33.47-18.27l.13.17c8.4-6.9,16.3-14.1,23.4-18.8a67.64,67.64,0,0,1,21.5-9.6v0c8.57-2,17.54-2,25.41,1.82,2.1,1,5.4,3.6,8.6,6.8h0c6.68,6.7,12.54,16.37,5.66,21.36,3.2,4.1,2.8,10.8.5,18.2l7.2.4c1.9-7.1,2.1-12.9.6-17.6A13.73,13.73,0,0,0,129.92,61.15Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-40: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 111.1 81.12'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{fill:#f05a5a;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M103,17.62c-1.2-4.5-4.1-10.6-14.9-10.6A40.59,40.59,0,0,0,79,8.22l-.06.14a61.9,61.9,0,0,0-18.84,8.36,92.05,92.05,0,0,0-10.27,7.6h0c-1.6,1.3-3.2,2.7-4.9,4.1-12.3,10.4-25,21.1-42.2,22.8l2.7,29.9c23.9-2.3,41.2-15.1,54.5-26.1l-.2-.1,0-.08,43.2-18.91A36.61,36.61,0,0,0,103,17.62Z'/%3E%3Cpath class='b' d='M109.75,15.72c-4.4-16-19-17.8-33.1-14.1l.06.11a68,68,0,0,0-20.56,9,119.05,119.05,0,0,0-9.81,7.34l0-.06C32.1,29.7,18.7,43.3,0,44.3L3.4,51C20.3,49.1,32.8,38.5,45,28.3c1.73-1.44,3.37-2.89,5-4.24l0,.06a113.3,113.3,0,0,1,10-7.5A61.21,61.21,0,0,1,80.35,8l-.06-.1A35.46,35.46,0,0,1,88.15,7c10.7,0,13.6,6,14.9,10.6a37,37,0,0,1,0,18.1l7,.8A45.64,45.64,0,0,0,109.75,15.72Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-50: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 86.4 85.9'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{fill:#4eb96f;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M36,19.3,79.4.3C75.3,18.7,61,36.9,53.7,45.4c-5.5,6.3-12.9,11.8-20.1,17.1-2.8,2.1-5.7,4.2-8.4,6.4-1.9,1.5-3.8,3.1-5.7,4.7-2.9,2.4-5.8,4.9-8.7,7L0,50.9l.1-.1c2-1.7,4.2-3.6,6.6-5.5,3.1-2.4,6.2-4.7,9.1-6.9,5.9-4.4,12-8.9,15.3-12.7,1.9-2.2,3.6-4.3,5.2-6.3Z'/%3E%3Cpath class='b' d='M29.4,74.3c9.8-7.7,21.3-15,29.5-24.4C69.8,37.3,82.6,19,86.4.8l-7-.8C75.4,18.4,61,36.8,53.6,45.3c-5.5,6.3-12.9,11.8-20.1,17.1-2.8,2.1-5.7,4.2-8.4,6.4-1.9,1.5-3.8,3.1-5.7,4.7-2.9,2.4-5.8,4.9-8.7,6.9l4.4,5.5C20.1,82.5,24.8,78,29.4,74.3Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-61: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.21 50.44'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{fill:#efc319;}.a{opacity:0.5;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M32.61,44.8l.08-.08a20.79,20.79,0,0,1-1-3.72l-1.8-10.9h0l0-.1,8.75,2.48,2.66.72a26.49,26.49,0,0,0,3.84,1c.25,0,1.1-.29,3.66-1.89a22.52,22.52,0,0,0,2-1.28L40,1.4c-.1.1-.2.2-.3.2l-1.5-.4A29.07,29.07,0,0,0,30,0,29.94,29.94,0,0,0,.16,33.06L30.54,47.35A12.45,12.45,0,0,1,32.61,44.8Z'/%3E%3Cpath class='b' d='M48.91,32.3c-2.7,1.6-3.5,1.9-3.7,1.9h-.11a24.38,24.38,0,0,1-3.9-1l-2.55-.72L29.92,30.1l1.78,10.8a18.49,18.49,0,0,0,1,3.8l0,0,0,.08-.1.1a12.63,12.63,0,0,0-2,2.47l6.52,3.07a10.15,10.15,0,0,0,2.09-2.64c1.9-5,.4-2.6-.5-8,6.7,1.9,7.5,2.3,13.8-1.5l2.7-1.8L50.81,31l0,0,0,.08C50.21,31.5,49.51,31.9,48.91,32.3Z'/%3E%3C/svg%3E"), "#", "%23");

$sector-0: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 @@@@'%3E%3Cdefs%3E%3Cstyle%3E@@@@%3C/style%3E%3C/defs%3E%3C@@@@%3E%3C/svg%3E"), "#", "%23");

.map {
  &--tooltips {
    position: relative;
  }
  //
  &-sector {
    display: inline-block;
    position: absolute;
    min-height: 1px;
    min-width: 1px;
    cursor: pointer;
    background: {
      position: center;
      size: 100%;
      repeat: no-repeat;
    }
    transform: scale(.635);
    //
    p {      
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    //
    &-10 {
      top: 21.4rem;
      left: calc(50% - 12.2rem);
      width: 3.13rem;
      height: 3.916rem;
      background-image: $sector-10;
    }
    &-20 {
      top: 22.8rem;
      left: calc(50% - 15.3rem);
      width: 7.6rem;
      height: 5.29rem;
      background-image: $sector-20;
    }
    &-30 {
      top: 17.4rem;
      left: calc(50% - 12.7rem);
      width: 16rem;
      height: 9.29rem;
      background-image: $sector-30;
    }
    &-40 {
      top: 20.5rem;
      left: calc(50% - 11.5rem);
      width: 11.11rem;
      height: 8.11rem;
      background-image: $sector-40;
    }
    &-50 {
      top: 22.7rem;
      left: calc(50% - 9.5rem);
      width: 8.64rem;
      height: 8.59rem;
      background-image: $sector-50;
    }
    &-61 {
      top: 26.5rem;
      left: calc(50% - 11.4rem);
      width: 5.52rem;
      height: 5.04rem;
      background-image: $sector-61;
    }
  }
}

.ToolTipPortal {
  &>div:first-of-type {
    max-width: 60rem;
    padding: 1rem 2.5rem;
  }
}