
.map {
  &-tooltips {
    position: relative;
  }
  &-spots {
    position: absolute;
    top: 11.6rem;
    left: calc(50% - 20rem);
    width: 37.968rem;
    //
    &.has-active {
      .map-sector:not(.active) {
        opacity: .15;
      }
    }
  }
  //
  &-sector {
    cursor: pointer;
    opacity: .5;
    transition: opacity,filter .2s ease;
    //
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
    //
    .cls-1, .cls-13, .cls-2 {
      fill: #c4549a;
    }
    .cls-1, .cls-10, .cls-12, .cls-13, .cls-14, .cls-3, .cls-5, .cls-7, .cls-9 {
      opacity: 0.5;
    }
    .cls-3, .cls-4, .cls-9 {
      fill: #945ba4;
    }
    .cls-12, .cls-5, .cls-6 {
      fill: #f05a5a;
    }
    .cls-14, .cls-7, .cls-8 {
      fill: #efc319;
    }
    .cls-10, .cls-11 {
      fill: #4eb96f;
    }
  }
  //
  &-embankment {    
    padding: 1rem 2.5rem;
  }
  //
  &-question {
    color: #3095BF;
    padding: 1.5rem;
    border-bottom: 1px solid #D8D8D8;
  }
  //
  &-quote {
    width: 36rem !important;
    position: relative;
    color: #868e96;
    font-size: 1rem;    
    text-align: right;
    padding: 1rem 2.5rem;
    //
    em {
      display: block;
      color: #261A12;
      font-size: 1.125rem;
      text-align: left;
      padding: 1rem 1.5rem;
      border-left: 5px solid #F0C41B;
    }
  }
  &-top {
    position: absolute;
    padding: .2rem;
    top: -2.5rem;
    background: rgba(255,255,255,1);
    border-radius: .5rem;
    box-shadow: 0px 0px 5px rgba(255,255,255,1);
  }
}


.ToolTipPortal {
  &>div:first-of-type {
    max-width: 40rem;
  }
}