
section {
	position: relative;
}

.index-jumbo {
  height: calc(100vh - 75px);
	padding-top: 3rem;
}

.index-heading {
  h2 {
    margin-bottom: 2.5rem;
  }
  p {
    max-width: 60rem;
  }
  &--inverted {    
    color: #E5E5E5;
  }
}

.index-quotes {
  
}

.map-wrapper {
  height: 62rem;
  overflow: hidden;
  position: relative;
}

.index-presentation {
}
.index-slider-wrapper {
  overflow: hidden;
  //
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 10%;
    top: 0;    
    z-index: 10;
  }
  &:before {
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}
.index-research {}
.index-player-wrapper {
  background: #D8D8D8;
}
.index-player {
  width: 40rem;
  height: 25rem;
  margin: 0 auto;

}
.index-next {}
.index-form {}
.index-contact {}