
section {
	position: relative;
}

.index-jumbo {
  height: 60rem;
	padding-top: 3rem;
}

.index-heading {
  color: #E5E5E5;
  h1 {
    margin-bottom: 2.5rem;
  }
  p {
    max-width: 60rem;
  }
}

.index-quotes {
  
}

.map-wrapper {
  height: 80rem;
}

.index-presentation {}
.index-research {}
.index-next {}
.index-form {}
.index-contact {}